body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; 
  margin: 0px;
  font-weight: 400;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

div.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2357d3;
}

/* Typography for body and headers*/

span {
  font-size: 14px;
}

h1 {
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: 400;
  margin: 0px;
}

h3 {
  margin: 0px 0px 12px 0px;
  color: #666;
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #666;
  margin-right: 48px;
  line-height: 22px;
}

.project-description p {
  line-height: 28px;
  letter-spacing: -0.5px;
  max-width: 580px;
}

/* Typography and spacing for project summary*/

section.next-up {
  margin: 80px auto;
}

section.next-up .project:hover {
  opacity: 0.6;
}

section.next-up h1 {
  font-size: 20px;
  margin: 0px;
}

/* This is key. I have set a wider max-width to a parent section with a margin 
   of zero auto. When I then apply a smaller max-width to child element without
   a margin zero auto. It falls back to an almost float left position. */

.projects {
  max-width: 450px;
}

.project h1 {
  padding-bottom: 6px;
}

/* Typography and Layout for the footer that lay in a case study */

footer.case-study {
  margin-bottom: 80px;
}

footer a:hover {
  opacity: 0.3;
}


/* Layout */


section.workflow {
  max-width: 940px;
  margin: 0 auto 160px auto;
  padding: 0px 24px;
}

section.workflow img {
  width: 100%;
}

.final img {
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  margin: 26px 0px 42px 0px;
}

section.project-description {
  margin: 120px auto;
}

.final {
  margin-bottom: 32px;
}

section.hero {
  background: #f5f6fa;
}

.hero-flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-flex img {
  width: 740px;
  margin: 0 auto;
}

/* Styling of the index/home page */

div.index-wrapper {
  margin: 120px auto;
}

div.index-wrapper h1 {
  font-size: 20px;
  letter-spacing: -1px;
}

div.index-wrapper p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.4px;
}

.copy {
  max-width: 660px;
  margin: 0 auto;
}

.introduction {
  padding-bottom: 120px;
}

div.project {
  margin-bottom: 48px;
}

div.project.last {
  margin-bottom: 120px;
}

.project a {
  display: inline-block;
}

.projects:hover .project {
  opacity: 0.3;
}

.projects .project:hover {
  opacity: 1;
}

.navigation {
  position: fixed;
  left: 32px;
  top: 32px;
}

.navigation img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.navigation:hover a {
  opacity: 0.3;
}

.navigation a:hover {
  opacity: 1;
}


@media only screen and (max-width: 940px) {
  
  .copy {
    max-width: 600px;
  }
  
  h1 {
    font-size: 20px;
    line-height: 32px;
  }
  
}



@media only screen and (max-width: 640px) {
  
  .copy {
    margin: 60px 32px;
  }
  
  .next-up {
    padding: 0px 32px;
  }
  
  div.index-wrapper {
    margin: 0px auto;
  }
  
  section.introduction {
    padding: 0px;
  }
  
  section.project-description {
    margin: 80px 32px;
  }
  
  .flex {
    display: block;
  }
  
  .flex h4 {
    margin-bottom: 18px;
  }
  
  .hero-flex img {
    max-width: 440px;
    margin: 0 auto;
  }
  
  section.workflow {
    margin: 0 auto 80px auto;
  }
  
}

@media only screen and (max-width: 420px) {
  
  .hero-flex img {
    max-width: 340px;
    margin: 0 auto;
  }
  
}
